/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my styles */

*{
  font-size: 62.5%;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
  width: 100%;
  height: 100%;
}

.About{
	padding: 1rem;
	margin: 5rem;
	width: 100%;
	height: 100vh;
  }

.RegLog{
	display: flex;
	flex-direction: column;
	margin: 1rem;
	width: 81.7vw;
	height: 100vh; 
}

.main{
	display: flex;
	flex-direction: row;
}

.rightside{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.header{
	padding: 1rem;
	text-align: center;
	border-bottom: 3px dotted black;
}

.titletext{
	font-size: 3rem;
}

.tab{
	display: flex;
	flex-direction: column;
	background-color: black;
	width: 15vw;
	
}

.logo{
	max-height: 100%;
	max-width: 85%;
	margin-left: 1rem;
	margin-right: 1rem;
}

.lynx{
	font-size: 1.4rem;
	color: white;
	text-decoration: none;
	padding-top: 1.4rem;
	padding-right: 1.4rem;
	padding-left: 1.4rem;	
}

.lynx:hover{
	font-size: 1.4em;
	color: #F19433;
	text-decoration: none;
	padding-top: 1.4rem;
	padding-right: 1.4rem;
	padding-left: 1.4rem;	
}

a{
	color: black;
	text-decoration: none;
}

.white{
	color: white;
}

.white:hover{
	color: #F19433;
}

.price{
	color: #32585D;
	font-size: 2.2rem;
	line-height: 3rem;
}

body{
	background-color: lightgrey;
}

.card{
  text-align: center;
  border: 1px solid black;
  padding: 1.5rem;
  width: 23rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  margin: 1rem
}

.card:hover{
	transform: scale(1.05);
	text-align: center;
	border: 1px solid black;
	padding: 1.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: #F0FFFF;
	margin: 1rem
}

.yellow{
	text-align: center;
	border: 1px solid black;
	width: 23rem;

	padding: 1.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: #FFF79D;
	margin: 1rem
}

.yellow:hover{
	text-align: center;
	border: 1px solid black;
	transform: scale(1.05);
	padding: 1.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: #FCFFCB;
	margin: 1rem
}

.green{
	text-align: center;
	border: 1px solid black;
	width: 23rem;
	padding: 1.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: #CCFFCA;
	margin: 1rem
}

.green:hover{
	text-align: center;
	border: 1px solid black;
	transform: scale(1.05);
	padding: 1.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: #E8FFE8;
	margin: 1rem
}

strong{
	font-weight: bold;
}

em{
	font-style: italic
}

.cover{
	height: 349px;
	margin: 1rem auto;
}

h1{
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.two{
  font-size: 2.2rem;
  line-height: 3rem;
}

.three{
  font-size: 2rem;
}


p{
	margin: 0 auto;
	font-size: 1.3rem;
}

.text{
	margin-top: 1rem;
}

form{
	display: flex;
	flex-direction: column;
	margin: 5% auto;
}

input{
	width: 15rem;
	margin: .3rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 1rem;
}

.btn{
	padding-top: .2rem;
	border-radius: 5px;
	height: 2rem;
	width: auto;
	background-color: rgb(255, 184, 107);
}

/* tablet 

@media only screen and (max-width: 934px){
	.card{
		width: 14rem;
	}

	.green{
		width: 14rem;
	}

	.yellow{
		width: 14rem;
	}

	.cover{
		height: 224px;	
		margin: 0 auto 1rem auto;	
	}
	.two{
		font-size: 1.8rem;
		line-height: 2rem;
		margin-bottom: .2rem;
	}

	.lynx{
		font-size: 1.2rem;
		text-align: center;
		width: 8rem;
	}

	.logo{
		max-height: 80%;
		margin-top: .4rem;
		margin-left: 1.5rem;
	}

	.tab{
		height: 5rem;
	}
}

@media only screen and (max-width: 795px){
	.lynx{
		margin: auto;
		padding-top: 0;
	}
}

 phone 

@media only screen and (max-width: 645px){

	.logo{
		margin-left: 21%;
		height: 100%;
	}

	.tab{
		flex-direction: column;
		height: 10rem;
	}

	.lynx{
		display: none;
	}

	.card{
		width: 25rem;
	}

	.cover{
		height: 445px;
	}

	.two{
		font-size: 3rem;
  		line-height: 3rem;
	}

	.three{
		font-size: 2.5rem;
	}

	p{
		font-size: 2rem;
		margin-top: 1rem;
	}

	.price{
		font-size: 5rem;
		line-height: 5rem;
		margin: 2rem;
	}
} */