/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my styles */

*{
  font-size: 62.5%;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
}

.tab{
	display: flex;
	flex-direction: row;
	background-color: black;
	height: 4rem;
}

.logo{
	max-height: 100%;
	max-width: 100%;
	margin-left: .5rem;
	margin-right: 1.4rem;
}

.lynx{
	font-size: 1.4em;
	color: white;
	text-decoration: none;
	padding-top: 1.4rem;
	padding-right: 1.4rem;
	padding-left: 1.4rem;	
}

.lynx:hover{
	font-size: 1.4em;
	color: #F19433;
	text-decoration: none;
	padding-top: 1.4rem;
	padding-right: 1.4rem;
	padding-left: 1.4rem;	
}

a{
	color: black;
	text-decoration: none;
}

.price{
	color: #32585D;
	font-size: 2.2rem;
	line-height: 3rem;
}

body{
	background-color: lightgrey;
}

.card{
  text-align: center;
  border: 1px solid black;
  padding: 1.5rem;
  width: 23rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  margin: 1rem
}

.card:hover{
	transform: scale(1.05);
	text-align: center;
	border: 1px solid black;
	padding: 1.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: #F0FFFF;
	margin: 1rem
}

.yellow{
	text-align: center;
	border: 1px solid black;
	width: 23rem;

	padding: 1.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: #FFF79D;
	margin: 1rem
}

.yellow:hover{
	text-align: center;
	border: 1px solid black;
	transform: scale(1.05);
	padding: 1.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: #FCFFCB;
	margin: 1rem
}

.green{
	text-align: center;
	border: 1px solid black;
	width: 23rem;
	padding: 1.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: #CCFFCA;
	margin: 1rem
}

.green:hover{
	text-align: center;
	border: 1px solid black;
	transform: scale(1.05);
	padding: 1.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: #E8FFE8;
	margin: 1rem
}

strong{
	font-weight: bold;
}

em{
	font-style: italic
}

.cover{
	height: 349px;
	margin: 1rem auto;
}

h1{
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.two{
  font-size: 2.2rem;
  line-height: 3rem;
}

.three{
  font-size: 2rem;
}


p{
  font-size: 1.6rem;
}

